{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">C</span><span class="base09">o</span><span class="base0a">d</span><span class="base0b">e</span>&nbsp<span class="base0c">E</span><span class="base0d">p</span><span class="base0e">i</span><span class="base0f">c</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
	Hi, 這是我的部落格，我現在就讀臺大哲學系，也在 SITCON 學生計算機年會幫忙，關注的議題有社群經營、開源與自由軟體、電腦科學與程式設計。
</div>
